{% extends 'index.html' %}
{% block content %}
<div class="card text-center">
    <div class="card-body">
        <p class="card-text">
            Data Insighter is a web application that provides a variety of tools for extracting insights from data, such as images and text. It is still under development, but it already has a forum that allows users to discuss topics with other data enthusiasts. The project was created as a way to showcase my back-end and data science skills and to build a community of data lovers.
            <hr>
            <div class="card border-info mb-3" style="max-width: 90%; margin: 0 auto;">
                <div class="card-header" style="font-weight: bold; background-color: #004e7a; color: #ffffff;">The tech stack for Data Insighter includes:</div>
                <div class="card-body text-info" style="text-align: left;">
                  <p class="card-text">
                    <ul style="list-style: none; padding-left: 0;">
                        <li><span style="font-weight: bold; color: #004e7a;">Backend:</span>
                            <ul style="list-style: disc; padding-left: 2rem;">
                                <li>Django+Django REST Framework</li>
                            </ul>
                        </li>
                        <li><span style="font-weight: bold; color: #004e7a;">Databases:</span>
                            <ul style="list-style: disc; padding-left: 2rem;">
                                <li>PostgreSQL</li>
                            </ul>
                        </li>
                        <li><span style="font-weight: bold; color: #004e7a;">Data science:</span>
                            <ul style="list-style: disc; padding-left: 2rem;">
                                <li>NumPy</li>
                                <li>Pandas</li>
                                <li>Plotly</li>
                                <li>SciKit-Image</li>
                                <li>Pillow</li>
                                <li>Statistics</li>
                            </ul>
                        </li>
                        <li><span style="font-weight: bold; color: #004e7a;">Frontend:</span>
                            <ul style="list-style: disc; padding-left: 2rem;">
                                <li>Bootstrap</li>
                            </ul>
                        </li>
                    </ul>
                  </p>
                </div>
              </div>
            The repository for Data Insighter is available on <a href="https://github.com/yaryna1499/DATA-INSiGHTER">GitHub</a>. Feel free to contribute to the project!
        </p>
    </div>
  </div>
{% endblock %}
