{% extends 'index.html' %}
{% block content %}
<h1>Data Insighter</h1>
<p>
    Data Insighter is a web application that provides a variety of tools for extracting insights from data, such as images and text. It is still under development, but it already has a forum that allows users to discuss topics with other data enthusiasts. The project was created as a way to showcase my back-end and data science skills and to build a community of data lovers.
</p>
<p>
    The tech stack for Data Insighter includes:
</p>
<ul>
    <li>Backend:
        <ul>
            <li>Django+Django REST Framework</li>
        </ul>
    </li>
    <li>Databases:
        <ul>
            <li>PostgreSQL</li>
        </ul>
    </li>
    <li>Data science:
        <ul>
            <li>NumPy</li>
            <li>Pandas</li>
            <li>Plotly</li>
            <li>SciKit-Image</li>
            <li>Pillow</li>
            <li>Statistics</li>
        </ul>
    </li>
    <li>Frontend:
        <ul>
            <li>Bootstrap</li>
        </ul>
    </li>
</ul>
<p>
    The repository for Data Insighter is available on <a href="https://github.com/yaryna1499/DATA-INSiGHTER">GitHub</a>. Feel free to contribute to the project!
</p>
<p>
    Based in Ukraine in 2023.
</p>
{% endblock %}