{% extends 'index.html' %}
{% block content %}
<br>
<br>
<div class="card text-center">
    <div class="card-body">
        <form method="POST" action="{% url 'recommend_system' %}">
            {% csrf_token %}
            <select class="form-select" aria-label="Default select example" name="specialization">
                <option selected>Select IT-specialization from the list</option>
                {% for sp in specializations %}
                <option value="{{ sp }}">{{ sp }}</option>
                {% endfor %}
            </select>
            <br>
            <hr>
            <label for="technologies">Type technologies you already know:</label>
            <input type="text" name="technologies" id="technologies" placeholder="Example: tech1, tech2, tech3">
            <br>
            <button type="submit" class="btn btn-primary mt-3" style="width: 150px;">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
