{% extends 'index.html' %}
{% block content %}
<br>
<hr>
<div class="card-body">
    <div class="card border-primary mb-3" style="max-width: 45%; margin: 0 auto; border-color: #2f6999;">
        <div class="card-header bg-primary text-white">Image Result</div>
        <div class="card-body">
            <p>Here you can see the result:</p>
            <img src="data:image/png;base64,{{image|safe}}" style="width: 100%; height: auto;" alt="Image"/>
            <br>
            <br>
            <div class="mt-4" id="palette-container"></div>
        </div>
    </div>
</div>

<script>
    var palette = JSON.parse('{{ palette | safe }}');

    var paletteContainer = document.getElementById('palette-container');

    // Loop through the palette array and create HTML elements for each color
    for (var i = 0; i < palette.length; i++) {
        var color = palette[i];

        var colorDiv = document.createElement('div');
        colorDiv.style.display = 'flex';
        colorDiv.style.alignItems = 'center';
        colorDiv.style.fontFamily = 'monospace';
        colorDiv.style.marginBottom = '8px';

        var colorText = document.createElement('span');
        colorText.textContent = color;
        colorText.style.marginRight = '10px';

        var colorBlock = document.createElement('span');
        colorBlock.textContent = '████████';
        colorBlock.style.color = color;

        colorDiv.appendChild(colorText);
        colorDiv.appendChild(colorBlock);
        paletteContainer.appendChild(colorDiv);
    }
</script>

<style>
    /* Ваші стилі можна додати тут */
</style>

{% endblock %}
