asgiref==3.7.2
Django==4.2.3
django-filter==23.2
djangorestframework==3.14.0
imageio==2.31.1
lazy_loader==0.3
Markdown==3.4.4
networkx==3.1
numpy
packaging==23.1
Pillow==10.0.0
Pygments==2.15.1
pytz==2023.3
PyWavelets==1.4.1
scikit-image==0.21.0
scipy==1.11.1
sqlparse==0.4.4
tifffile==2023.7.18
typing_extensions==4.7.1
webcolors==1.13
